
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#xiang-page {
  display: flex;
}

#xiang-page > img {
  height: 98vh;
}

.bubble-img {
  height: 90vh!important;
}

#xiang-page > svg {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.image-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 20px; /* 设置图片间隙 */
}

.image {
  width: 300px; /* 自定义图片宽度 */
  height: auto; /* 高度自适应 */
  margin: 10px; /* 自定义图片间距 */
}

.dissolve {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.text{
  opacity: 0; /* 初始状态为透明 */
  transition: opacity 1s; /* 添加过渡效果，持续1秒 */
  height: 50%;
  position: absolute;
  top: 500px;
  left: 250px;
}
.text.appear {
  opacity: 1; /* 出现状态为不透明 */
  transition: opacity 1s; /* 添加过渡效果，持续1秒 */
  height: 50%;
  position: absolute;
  top: 500px;
  left: 250px;
}